<h1>Listing choices</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Exam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @choices.each do |choice| %>
  <tr>
    <td><%= choice.text %></td>
    <td><%= choice.exam_id %></td>
    <td><%= link_to 'Show', choice %></td>
    <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
    <td><%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Choice', new_choice_path %>
